<!DOCTYPE html>
<html>
	<head>
		<title>Csvviewer</title>	
		<link rel = 'stylesheet' href = '/static/css/pico.min.css'>
		<link rel = 'icon' type = 'image/x-icon' href = 'static/images/favicon.ico'>
		<script src = "/static/js/htmx.min.js"></script>
	</head>
	<body hx-get = '/configuration' hx-trigger = 'load' hx-target = '#configuration'>
		<div style = 'float: left; width: 100%; height: 152px;' id = 'configuration'></div>
		<div style = 'float: left; width: 50%' id = 'itemtable'>
			<table class = 'striped'>
				<thead height = '56px'><tr><td></td><td></td></tr></thead>
				{% for i in range(10) %}
					<tr height = '64px'>
						<td width = '15%'></td>
						<td></td>
					</tr>
				{% endfor %}
				<tfoot><tr><td></td><td></td></tr></tfoot>
			</table>
		</div>
		<div style = 'float: left; width: 50%;' id = 'iteminfo'>
			<table class = 'striped'>
				<thead height = '56px'><tr><td></td><td></td></tr></thead>
				{% for i in range(10) %}
					<tr height = '64px'>
						<td width = '15%'></td>
						<td></td>
					</tr>
				{% endfor %}
				<tfoot><tr><td></td><td></td></tr></tfoot>
			</table>
		</div>
	</body>
</html>

