<table class = 'striped'>
	<thead>
		<tr>
			{% for fieldname in fieldnames %}
				{% if fieldname in showntypes %}
					<td>{{ fieldname }}</td>
				{% endif %}
			{% endfor %}
			<td></td>
		</tr>
	</thead>
	{% for dictionary in showndicts %}
		{% set row = loop.index0 %}
		
		<tr height = '64px'>
			{% for key in dictionary %}
				{% if key in showntypes %}
					{% if key == category and highlights != [] %}
						<td>
							{% set ns = namespace(text = [dictionary[key][:highlights[row][0]]|string]) %}
							{% for highlight in highlights[row] %}
								{% set index = loop.index0 %}
								{% set ns.text = ns.text + [search] %}
								{% if dictionary[key][highlight + search|length] %}
									{% if highlights[row][index + 1] %}
										{% set ns.text = ns.text + [dictionary[key][highlight + search|length:highlights[row][index + 1]]|string] %}
									{% else %}
										{% set ns.text = ns.text + [dictionary[key][highlight + search|length:]|string] %}
									{% endif %}
								{% endif %}
							{% endfor %}
							{%- for string in ns.text -%}
								{%- set i = loop.index0 -%}
								<span {% if i % 2 == 1 %}style = 'background-color: #0172AD;'{% endif %}>{{ string|upper }}</span>
							{%- endfor -%}
						</td>
					{% else %}
						<td>{{ dictionary[key] }}</td>
					{% endif %}
				{% endif %}
			{% endfor %}
			<td>
				<button hx-get='/item/{{ dictionary[fieldnames[0]] }}' hx-target = '#iteminfo'></button>
			</td>
		</tr>
	{% endfor %}
	{% if showndicts|length < 10 %}
		{% for i in range(10 - (showndicts|length)) %}
			<tr height = '64px'><td></td><td></td><td></td></tr>
		{% endfor %}
	{% endif %}
	<tfoot>
		<tr>
			<td>
				{% if page > 0 %}
					<button hx-get='/page/{{ page - 1 }}/{{ category }}?search={{ search }}' hx-target = '#itemtable'></button>
				{% else %}
					<button disabled></button>
				{% endif %}
			</td>
			<td>{{ page + 1 }}/{{ totalpages }}</td>
			<td>
				{% if not lastpage %}
					<button hx-get='/page/{{ page + 1 }}/{{ category }}?search={{ search }}' hx-target = '#itemtable'></button>
				{% else %}
					<button disabled></button>
				{% endif %}
			</td>
		</tr>
	</tfoot>
</table>
