<table class = 'striped'>
	<thead>
		<tr>
			{% for fieldname in fieldnames %}
				{% if fieldname in shown_types %}
					<td>{{ fieldname }}</td>
				{% endif %}
			{% endfor %}
			<td></td>
		</tr>
	</thead>
	{% for dictionary in showndicts %}
		<tr height = '64px'>
			{% for key in dictionary %}
				{% if key in shown_types %}
					<td>{{ dictionary[key] }}</td>
				{% endif %}
			{% endfor %}
			<td>
				<button hx-get='/item/{{ dictionary["code"] }}' hx-target = '#iteminfo'></button>
			</td>
		</tr>
	{% endfor %}
	<tfoot>
		<tr>
			<td>
				{% if page != 0 %}
					<button hx-get='/page/{{ page - 1 }}?search={{ search }}' hx-target = '#itemtable'></button>
				{% else %}
					<button disabled></button>
				{% endif %}
			</td>
			<td></td>
			<td>
				{% if not lastpage %}
					<button hx-get='/page/{{ page + 1 }}?search={{ search }}' hx-target = '#itemtable'></button>
				{% else %}
					<button disabled></button>
				{% endif %}
			</td>
		</tr>
	</tfoot>
</table>
